@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
  --neon-blue: #ffffffbd;
  --neon-pink: #23252de4;
  --bg-dark: #000000;
}

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(-45deg, #f04be5, #6600ff, #00e6e6, #ffff00);
  background-size:100% 100%;
  position: relative;
  overflow-x: hidden;
}

.overlay {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(-45deg, #f04be5, #6600ff, #00e6e6, #ffff00);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: var(--neon-blue);
  padding: 2rem;
}

.neon-title {
  font-size: 3rem;
  text-shadow:
    0 0 5px var(--neon-blue),
    0 0 10px var(--neon-blue),
    0 0 20px var(--neon-pink),
    0 0 30px var(--neon-pink),
    0 0 40px var(--neon-pink);
  animation: neonFlash 2.5s ease-in-out infinite alternate;
  
}

@keyframes neonFlash {
  from { text-shadow: 0 0 5px var(--neon-blue), 0 0 20px var(--neon-pink); }
  to { text-shadow: 0 0 20px var(--neon-blue), 0 0 40px var(--neon-pink); }
}

.highlight {
  color: #ffffffd5;
  justify-content: center;
}
.subtext {
  font-size: 1.2rem;
  color: #ffffffaa;
  margin-bottom: 2rem;
  text-align: justify;
  text-justify: auto;
  margin-left: 15%;
  margin-right: 15%;
}



a:link {
  color: #e1e1e1;
}
a:hover {
  color: rgb(255, 55, 232);
}
a:visited {
  color: #e1e1e1;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.neon-btn {
  background: transparent;
  border: 2px solid #ffffff;
  padding: 1rem 2rem;
  color: #ffffff;
  font-size: 1.1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0,3s ease;
  position: relative;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
  font-size: smaller;
}

.neon-btn:hover {
  color: var(--neon-blue);
  border-color: var(--neon-blue);
  box-shadow: 0 0 20px var(--neon-blue), 0 0 30px var(--neon-pink);
}

.neon-btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(-45deg, #f04be5, #6600ff, #00e6e6, #ffff00);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.neon-btn:hover::after {
  opacity: 1;
}

footer p {
  font-size: 0.7rem;
  color: #e1e1e1;
}

#SOME{
  font-size: 0.9rem;
}

.crop {
  height: 50px;
}